body {
  background: #003442;
  color: #008080;
  font-size: 1.2em;
  line-height: 1.8em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

h1 {
  color: white;
  font-weight: normal;
}

button {
  background: #008080;
  color: white;
}

li {
  list-style: none;
}
